{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": false
}